@page
@model RGIS.Pages.IskalnoOknoModel
@{

<div class="text-center">
    <h1 class="display-4">Iskalno Okno</h1>
</div>


    <form method="post">
        <td>
            <input name="name" />
            <button type="submit"> Search</button>
        </td>
    </form>

}