@page
@model RGIS.Pages.PregledOknoModel
@{
    <div class="text-center">
        <h1 class="display-4">Dodaj pregled!</h1>
    </div>
    <form method="post" >
        <input name="Newpregled" />

        <input type="submit" />
        <button type="submit">Dodaj</button>
    </form>
}
